<?php include 'cabecera.html'; ?>
<script type="text/javascript">
	      google.load("visualization", "1", {packages:["corechart"]});
	      google.setOnLoadCallback(drawChart);
	      var array_druid = ["<?php echo $this->data[0][0]['Wins'] ?>" , "<?php echo $this->data[0][0]['Losses'] ?>"];
	      var array_rogue = ["<?php echo $this->data[1][0]['Wins'] ?>" , "<?php echo $this->data[1][0]['Losses'] ?>"];
	      var array_warlock = ["<?php echo $this->data[2][0]['Wins'] ?>" , "<?php echo $this->data[2][0]['Losses'] ?>"];
	      var array_warrior = ["<?php echo $this->data[3][0]['Wins'] ?>" , "<?php echo $this->data[3][0]['Losses'] ?>"];
	      var array_shaman = ["<?php echo $this->data[4][0]['Wins'] ?>" , "<?php echo $this->data[4][0]['Losses'] ?>"];
	      var array_hunter = ["<?php echo $this->data[5][0]['Wins'] ?>" , "<?php echo $this->data[5][0]['Losses'] ?>"];
	      var array_paladin = ["<?php echo $this->data[6][0]['Wins'] ?>" , "<?php echo $this->data[6][0]['Losses'] ?>"];
	      var array_priest = ["<?php echo $this->data[7][0]['Wins'] ?>" , "<?php echo $this->data[7][0]['Losses'] ?>"];
	      var array_mage = ["<?php echo $this->data[8][0]['Wins'] ?>" , "<?php echo $this->data[8][0]['Losses'] ?>"];
	      
	      function drawChart() {
	        var data_druid = google.visualization.arrayToDataTable([['Winrate', 'Total'], ['Wins', parseInt(array_druid[0], 10)], ['', parseInt(array_druid[1], 10)] ]); 		
	        var data_rogue = google.visualization.arrayToDataTable([['Winrate', 'Total'], ['Wins', parseInt(array_rogue[0], 10)], ['', parseInt(array_rogue[1], 10)] ]);
	        var data_warlock = google.visualization.arrayToDataTable([['Winrate', 'Total'], ['Wins', parseInt(array_warlock[0], 10)], ['', parseInt(array_warlock[1], 10)] ]);
	        var data_warrior = google.visualization.arrayToDataTable([['Winrate', 'Total'], ['Wins', parseInt(array_warrior[0], 10)], ['', parseInt(array_warrior[1], 10)] ]);
	        var data_shaman = google.visualization.arrayToDataTable([['Winrate', 'Total'], ['Wins', parseInt(array_shaman[0], 10)], ['', parseInt(array_shaman[1], 10)] ]);
	        var data_hunter = google.visualization.arrayToDataTable([['Winrate', 'Total'], ['Wins', parseInt(array_hunter[0], 10)], ['', parseInt(array_hunter[1], 10)] ]);        
	        var data_paladin = google.visualization.arrayToDataTable([['Winrate', 'Total'], ['Wins', parseInt(array_paladin[0], 10)], ['', parseInt(array_paladin[1], 10)] ]);
	        var data_priest = google.visualization.arrayToDataTable([['Winrate', 'Total'], ['Wins', parseInt(array_priest[0], 10)], ['', parseInt(array_priest[1], 10)] ]);
	        var data_mage = google.visualization.arrayToDataTable([['Winrate', 'Total'], ['Wins', parseInt(array_mage[0], 10)], ['', parseInt(array_mage[1], 10)] ]);

	        var options_rogue = { title: 'Stats vs Rogue', pieHole: 0.2, height: 300, width: 300, slices: { 0: { color: '#404040' }, 1: { color: 'transparent' }}};
	        var options_druid = { title: 'Stats vs Druid', pieHole: 0.2, height: 300, width: 300, slices: { 0: { color: '#54370F' }, 1: { color: 'transparent' }}};
	        var options_warlock = { title: 'Stats vs Warlock', pieHole: 0.2, height: 300, width: 300, slices: { 0: { color: '#4D3362' }, 1: { color: 'transparent' }}};
	        var options_warrior = { title: 'Stats vs Warrior', pieHole: 0.2, height: 300, width: 300, slices: { 0: { color: '#5A0000' }, 1: { color: 'transparent' }}};
	        var options_shaman = { title: 'Stats vs Shaman', pieHole: 0.2, height: 300, width: 300, slices: { 0: { color: '#4C50CE' }, 1: { color: 'transparent' }}};
	        var options_hunter = { title: 'Stats vs Hunter', pieHole: 0.2, height: 300, width: 300, slices: { 0: { color: '#27612F' }, 1: { color: 'transparent' }}};
	        var options_paladin = { title: 'Stats vs Paladin', pieHole: 0.2, height: 300, width: 300, slices: { 0: { color: '#BE9B3F' }, 1: { color: 'transparent' }}};
	        var options_priest = { title: 'Stats vs Priest', pieHole: 0.2, height: 300, width: 300, slices: { 0: { color: '#BACA49' }, 1: { color: 'transparent' }}};
	        var options_mage = { title: 'Stats vs Mage', pieHole: 0.2, height: 300, width: 300, slices: { 0: { color: '#6AA9CA' }, 1: { color: 'transparent' }}};

	        var chart = new google.visualization.PieChart(document.getElementById('stats-rogue'));
	        chart.draw(data_rogue, options_rogue);
	        chart = new google.visualization.PieChart(document.getElementById('stats-warlock'));
	        chart.draw(data_warlock, options_warlock);
	        chart = new google.visualization.PieChart(document.getElementById('stats-warrior'));
	        chart.draw(data_warrior, options_warrior);
	        chart = new google.visualization.PieChart(document.getElementById('stats-druid'));
	        chart.draw(data_druid, options_druid);
	        chart = new google.visualization.PieChart(document.getElementById('stats-hunter'));
	        chart.draw(data_hunter, options_hunter);
	        chart = new google.visualization.PieChart(document.getElementById('stats-shaman'));
	        chart.draw(data_shaman, options_shaman);
	        chart = new google.visualization.PieChart(document.getElementById('stats-paladin'));
	        chart.draw(data_paladin, options_paladin);
	        chart = new google.visualization.PieChart(document.getElementById('stats-mage'));
	        chart.draw(data_mage, options_mage);
	        chart = new google.visualization.PieChart(document.getElementById('stats-priest'));
	        chart.draw(data_priest, options_priest);
	      }
</script>
<script type="text/javascript">
		$( document ).ready(function() {
			var url = window.location.href;
			console.log(url);
			if(url.indexOf('rogue') > -1){
				console.log('rogue');
				$('.imagen-portada').attr('src','<?php echo BASE_URL ?>/statics/img/hsportadarogue.jpg');
			}
			if (url.indexOf('warrior') > -1){
				console.log('warrior');
				$('.imagen-portada').attr('src','<?php echo BASE_URL ?>/statics/img/hsportadawarrior.jpg');
			}
			if (url.indexOf('warlock') > -1){
				console.log('warlock');
				$('.imagen-portada').attr('src','<?php echo BASE_URL ?>/statics/img/hsportadawarlock.jpg');
			}
			if (url.indexOf('hunter') > -1){
				console.log('hunter');
				$('.imagen-portada').attr('src','<?php echo BASE_URL ?>/statics/img/hsportadahunter.jpg');
			}
			if (url.indexOf('druid') > -1){
				console.log('druid');
				$('.imagen-portada').attr('src','<?php echo BASE_URL ?>/statics/img/hsportadadruid.jpg');
			}
			if (url.indexOf('shaman') > -1){
				console.log('shaman');
				$('.imagen-portada').attr('src','<?php echo BASE_URL ?>/statics/img/hsportadashaman.jpg');
			}
			if (url.indexOf('paladin') > -1){
				console.log('paladin');
				$('.imagen-portada').attr('src','<?php echo BASE_URL ?>/statics/img/hsportadapaladin.jpg');
			}
			if (url.indexOf('mage') > -1){
				console.log('mage');
				$('.imagen-portada').attr('src','<?php echo BASE_URL ?>/statics/img/hsportadamage.jpg');
			}
			if (url.indexOf('priest') > -1){
				console.log('priest');
				$('.imagen-portada').attr('src','<?php echo BASE_URL ?>/statics/img/hsportadapriest.jpg');
			}
		});
</script>
<?php include 'stats.html' ; ?>		
<?php include 'links.html' ; ?>
