		<div class="block-links col s3">
			<div class="menu">
				<ul>
					<li><a href="<?php echo BASE_URL ?>">Inicio</li>
					<li class="dropdown">
						<a href="#">Clase <i class="mdi-navigation-expand-more"></i></a>
						<ul class="submenu">
							<li><a href="<?php echo BASE_URL ?>/clase/rogue">Rogue</a></li>
							<li><a href="<?php echo BASE_URL ?>/clase/warlock">Warlock</a></li>
							<li><a href="<?php echo BASE_URL ?>/clase/warrior">Warrior</a></li>
							<li><a href="<?php echo BASE_URL ?>/clase/druid">Druid</a></li>
							<li><a href="<?php echo BASE_URL ?>/clase/hunter">Hunter</a></li>
							<li><a href="<?php echo BASE_URL ?>/clase/paladin">Paladin</a></li>
							<li><a href="<?php echo BASE_URL ?>/clase/shaman">Shaman</a></li>
							<li><a href="<?php echo BASE_URL ?>/clase/priest">Priest</a></li>
							<li><a href="<?php echo BASE_URL ?>/clase/mage">Mage</a></li>
						</ul>
					</li>
					<li><a href="<?php echo BASE_URL ?>/cartas">Cartas</a></li>
					<li><a href="<?php echo BASE_URL ?>/participa">Participa</a></li>
					<li class="dropdown">
						<a href="#">Links de interés  <i class="mdi-navigation-expand-more"></i></a>
						<ul class="submenu">
							<li><a href="https://trackobot.com/">Track-o-Bot</a></li>
							<li><a href="http://disguisedtoast.com/">disguisedtoast.com</a></li>
							<li><a href="http://www.liquidhearth.com/forum/constructed-strategy/486640-pr-may-week-4-another-week-of-patron-domination">Power Rank: May Week 4</a></li>
							<li><a href="http://www.gosugamers.net/hearthstone">Gosugamers: Hearthstone</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>