<?php include 'cabecera.html'; ?>
	<div class="portada">
		<img src="<?php echo BASE_URL ?>/statics/img/hsportada.jpg">
	</div>
	<div class="container">
		<div class="texto">
			<p>Participa con nuestra página aportando tus datos de juego. Para ello, descarga el tracker de <a href="https://trackobot.com/">Track-o-Bot</a>.</p>
			<p>En en link anterior, su desarrollador, explica su uso. Con este bot obtendreis un username y un token, simplemente rellenando nuestro formulario, podrás sumarte a las estadísticas de la página.</p>
			<p>Cuantos más seamos, más fiables serán los estudios del meta, anímate y envianos tus datos del tracker.</p>
			 <div class="row">
			    <form class="col s12" method="post">
			      <div class="row">
			        <div class="input-field col s6">
			          <input placeholder="Username" id="username" name="username" type="text" class="validate">
			          <label for="username">Username</label>
			        </div>
			        <div class="input-field col s6">
			          <input placeholder="Token" id="token" name="token" type="text" class="validate">
			          <label for="token">Token</label>
			        </div>
			        <button class="btn" type="submit">Enviar</button>			        
			      </div>		      
			    </form>
			</div>
		</div>
	</div>
</body>
</html>
