	<div class="portada">
		<img class="imagen-portada" src="<?php echo BASE_URL ?>/statics/img/hsportada.jpg">
	</div>
	<div class="container row">
		<div class="block-stats col s9">
			<div class="filtros">
				<a class="btn-floating btn-large waves-effect waves-light rogue-icon" href="<?php echo BASE_URL ?>/clase/rogue">
					<img class="responsive-img" src="<?php echo BASE_URL ?>/statics/img/rogueicon.png">
				</a>
				<a class="btn-floating btn-large waves-effect waves-light warlock-icon" href="<?php echo BASE_URL ?>/clase/warlock">
					<img class="responsive-img" src="<?php echo BASE_URL ?>/statics/img/warlockicon.png">
				</a>
				<a class="btn-floating btn-large waves-effect waves-light warrior-icon" href="<?php echo BASE_URL ?>/clase/warrior">
					<img class="responsive-img" src="<?php echo BASE_URL ?>/statics/img/warrioricon.png">
				</a>
				<a class="btn-floating btn-large waves-effect waves-light druid-icon" href="<?php echo BASE_URL ?>/clase/druid">
					<img class="responsive-img" src="<?php echo BASE_URL ?>/statics/img/druidicon.png">
				</a>
				<a class="btn-floating btn-large waves-effect waves-light hunter-icon" href="<?php echo BASE_URL ?>/clase/hunter">
					<img class="responsive-img" src="<?php echo BASE_URL ?>/statics/img/huntericon.png">
				</a>
				<a class="btn-floating btn-large waves-effect waves-light pala-icon" href="<?php echo BASE_URL ?>/clase/shaman">
					<img class="responsive-img" src="<?php echo BASE_URL ?>/statics/img/shamanicon.png">
				</a>
				<a class="btn-floating btn-large waves-effect waves-light shaman-icon" href="<?php echo BASE_URL ?>/clase/paladin">
					<img class="responsive-img" src="<?php echo BASE_URL ?>/statics/img/palaicon.png">
				</a>
				<a class="btn-floating btn-large waves-effect waves-light mage-icon" href="<?php echo BASE_URL ?>/clase/mage">
					<img class="responsive-img" src="<?php echo BASE_URL ?>/statics/img/mageicon.png">
				</a>
				<a class="btn-floating btn-large waves-effect waves-light priest-icon" href="<?php echo BASE_URL ?>/clase/priest">
					<img class="responsive-img" src="<?php echo BASE_URL ?>/statics/img/priesticon.png">
				</a>
			</div>
			<div class="stats row">
				<div class="stats-totales-clase col s4">
					<div id="stats-rogue"></div>
				</div>
				<div class="stats-totales-clase col s4">
					<div id="stats-warlock"></div>
				</div>
				<div class="stats-totales-clase col s4">
					<div id="stats-warrior"></div>
				</div>
				<div class="stats-totales-clase col s4">
					<div id="stats-druid"></div>
				</div>
				<div class="stats-totales-clase col s4">
					<div id="stats-hunter"></div>
				</div>
				<div class="stats-totales-clase col s4">
					<div id="stats-shaman"></div>
				</div>
				<div class="stats-totales-clase col s4">
					<div id="stats-paladin"></div>
				</div>
				<div class="stats-totales-clase col s4">
					<div id="stats-mage"></div>
				</div>
				<div class="stats-totales-clase col s4">
					<div id="stats-priest"></div>
				</div>
			</div>
		</div>
		